.admin-panel {
  border-radius: 5px;
  position: fixed;
  right: 16px;
  bottom: 16px;
  opacity: 0.3;
  padding: 15px;
}

.admin-panel:hover {
  opacity: 1;
}

.admin-panel__item_admin,
.admin-panel__item_delete {
  color: ivory;
}

.admin-panel__item_update,
.admin-panel__item_delete {
  display: none;
}

.admin-panel__menu {
  background: whitesmoke;
  border-radius: 5px;
}
